<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/security
                http://www.springframework.org/schema/security/spring-security.xsd
                http://code.alibabatech.com/schema/dubbo
                http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <http pattern="/css/**" security="none"></http>
    <http pattern="/img/**" security="none"></http>
    <http pattern="/js/**" security="none"></http>
    <http pattern="/plugins/**" security="none"></http>
    <http pattern="/*.html" security="none"></http>
    <http pattern="/seller/add.do" security="none"></http>

    <!--  引用 dubbo  服务  -->
    <dubbo:application name="pinyougou-shop-web"/>
    <!--配置注册中心地址-->
    <dubbo:registry address="zookeeper://192.168.12.168:2181"/>
    <!--开启dubbo注解扫描-->
    <!--<dubbo:annotation package="com.pinyougou.shop.service.impl"/>-->
    <dubbo:reference id="sellerService" interface="com.pinyougou.sellergoods.service.SellerService"></dubbo:reference>


    <http use-expressions="false">
        <intercept-url pattern="/**" access="ROLE_SELL"></intercept-url>
        <form-login login-page="/shoplogin.html"
                    default-target-url="/admin/index.html" login-processing-url="/login"
                    always-use-default-target="true"
                    authentication-failure-url="/shoplogin.html"></form-login>
        <csrf disabled="true"></csrf>
        <!-- 如果使用了 iframe 等框架，希望跳转也是在框架内跳转的话 -->
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <!--退出登录-->
        <logout/>
    </http>

    <beans:bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></beans:bean>

    <!--  配置自定义认证  -->
    <beans:bean id="userDetailsServiceImpl" class="com.pinyougou.shop.service.impl.UserDetailsServiceImpl">
        <beans:property name="sellerService" ref="sellerService"></beans:property>
    </beans:bean>
    <!--认证管理器-->
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsServiceImpl">
            <password-encoder ref="bCryptPasswordEncoder"></password-encoder>
        </authentication-provider>
    </authentication-manager>
</beans:beans>