<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinyougou.mapper.BrandMapper">
    <select id="queryAll" resultType="TbBrand">
        SELECT * FROM tb_brand
    </select>
    <!--批量删除-->
    <delete id="batchDelete" parameterType="Long">
        delete from tb_brand where id in
        <foreach collection="array" item="id" open="(" close=")" separator="," index="no">
            #{id}
        </foreach>
    </delete>
    <select id="selectOptionList" resultType="map">
        SELECT id,name as text FROM tb_brand
    </select>
</mapper>